<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="utf-8">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KB9RZD8J');</script>
  <!-- End Google Tag Manager -->

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="ICED">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  {% if page.image %}
    {% if page.image contains "://" %}
      <meta property="og:image" content="{{ page.image }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{{ page.image | relative_url }}">
    {% endif %}
  {% endif %}
  <meta property="og:site_name" content="ICED">
  <meta property="og:locale" content="zh_TW">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>

  <script>
    function vigenereEncrypt(plaintext, key) {
      let ciphertext = "";
      for (let i = 0, j = 0; i < plaintext.length; i++) {
        const char = plaintext[i];
        if (char.match(/[a-z]/i)) {
          const code = plaintext.charCodeAt(i);
          const keyChar = key[j % key.length];
          const keyCharCode = keyChar.toUpperCase().charCodeAt(0) - 65;
          let encryptedCharCode;

          if (code >= 65 && code <= 90) { // Uppercase
            encryptedCharCode = ((code - 65 + keyCharCode) % 26) + 65;
          } else if (code >= 97 && code <= 122) { // Lowercase
            encryptedCharCode = ((code - 97 + keyCharCode) % 26) + 97;
          }

          ciphertext += String.fromCharCode(encryptedCharCode);
          j++;
        } else {
          ciphertext += char;
        }
      }
      return ciphertext;
    }

    function vigenereDecrypt(ciphertext, key) {
      let plaintext = "";
      for (let i = 0, j = 0; i < ciphertext.length; i++) {
        const char = ciphertext[i];
        if (char.match(/[a-z]/i)) {
          const code = ciphertext.charCodeAt(i);
          const keyChar = key[j % key.length];
          const keyCharCode = keyChar.toUpperCase().charCodeAt(0) - 65;
          let decryptedCharCode;

          if (code >= 65 && code <= 90) { // Uppercase
            decryptedCharCode = ((code - 65 - keyCharCode + 26) % 26) + 65;
          } else if (code >= 97 && code <= 122) { // Lowercase
            decryptedCharCode = ((code - 97 - keyCharCode + 26) % 26) + 97;
          }

          plaintext += String.fromCharCode(decryptedCharCode);
          j++;
        } else {
          plaintext += char;
        }
      }
      return plaintext;
    }

    window.onload = function() {
      var hashedPassword = "{{ page.password }}";
      var encryptedRedirectTo = "{{ page.encrypted_redirect_to }}";

      var enteredPassword = prompt("請輸入密碼:");

      if (enteredPassword) {
        var hashedEnteredPassword = sha256(enteredPassword);

        if (hashedEnteredPassword === hashedPassword) {
          // 使用維吉尼亞密碼解密網址
          try {
            var decryptedUrl = vigenereDecrypt(encryptedRedirectTo, enteredPassword);

            if (decryptedUrl) {
              window.location.href = decryptedUrl;
            } else {
              alert("解密失敗！");
            }
          } catch (error) {
            alert("解密過程中發生錯誤：" + error);
          }
        } else {
          alert("密碼錯誤！");
        }
      } else {
        alert("未輸入密碼！");
      }
    };
  </script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB9RZD8J"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</body>
</html>
